In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

data = pd.read_csv('C:/Users/gokul/Documents/Projects/Online_News_Popularity/OnlineNewsPopularity.csv')
del data['url']

data = data.rename(columns=lambda x: x.strip())

data['log_shares'] = np.log10(data.shares)

data_columns = data.columns
data['weekday_is_monday'] = data['weekday_is_monday'].astype(int)
data['weekday_is_tuesday'] = data['weekday_is_tuesday'].astype(int)
data['weekday_is_wednesday'] = data['weekday_is_wednesday'].astype(int)
data['weekday_is_thursday'] = data['weekday_is_thursday'].astype(int)
data['weekday_is_friday'] = data['weekday_is_friday'].astype(int)
data['weekday_is_saturday'] = data['weekday_is_saturday'].astype(int)
data['weekday_is_sunday'] = data['weekday_is_sunday'].astype(int)

In [2]:
data = pd.read_csv('C:/Users/gokul/Documents/Projects/Online_News_Popularity/OnlineNewsPopularity.csv')

In [4]:
data.head(2)

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.7,-0.35000,-0.600,-0.2,0.5,-0.1875,0.0,0.1875,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.7,-0.11875,-0.125,-0.1,0.0,0.0000,0.5,0.0000,711

In [5]:
data.shape

(39644, 61)

In [6]:
type(data)

pandas.core.frame.DataFrame

In [28]:
#data.isnull().any() #there is no missing  values

<br>Attribute Information - information wrong as of now - yet to update  <br><br>

* **url:** unique number for each row
* **air_pressure_9am:** air pressure averaged over a period from 8:55am to 9:04am (*Unit: hectopascals*)
* **air_temp_9am:** air temperature averaged over a period from 8:55am to 9:04am (*Unit: degrees Fahrenheit*)
* **air_wind_direction_9am:** wind direction averaged over a period from 8:55am to 9:04am (*Unit: degrees, with 0 means coming from the North, and increasing clockwise*)
* **air_wind_speed_9am:** wind speed averaged over a period from 8:55am to 9:04am (*Unit: miles per hour*)
* ** max_wind_direction_9am:** wind gust direction averaged over a period from 8:55am to 9:10am (*Unit: degrees, with 0 being North and increasing clockwise*)
* **max_wind_speed_9am:** wind gust speed averaged over a period from 8:55am to 9:04am (*Unit: miles per hour*)
* **rain_accumulation_9am:** amount of rain accumulated in the 24 hours prior to 9am (*Unit: millimeters*)
* **rain_duration_9am:** amount of time rain was recorded in the 24 hours prior to 9am (*Unit: seconds*)
* **relative_humidity_9am:** relative humidity averaged over a period from 8:55am to 9:04am (*Unit: percent*)
* **relative_humidity_3pm:** relative humidity averaged over a period from 2:55pm to 3:04pm (*Unit: percent *)

In [26]:
del data['url']

In [8]:
data.head(2)

,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,0.0,...,0.100000,0.7,-0.35000,-0.600,-0.2,0.5,-0.1875,0.0,0.1875,593
1,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,0.0,...,0.033333,0.7,-0.11875,-0.125,-0.1,0.0,0.0000,0.5,0.0000,711

In [9]:
data.shape

(39644, 60)

In [34]:
#data.dtypes
#data.columns
data[data['shares'] > 1000]
## unknown error

In [32]:
data.dtypes

In [33]:
data.columns 
#found that extra space is available in all column names

In [3]:
data = data.rename(columns=lambda x: x.strip())

In [4]:
import numpy as np
data['log_shares'] = np.log10(data.shares)

In [5]:
data.head(2)

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares,log_shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.7,-0.35000,-0.600,-0.2,0.5,-0.1875,0.0,0.1875,593,2.773055
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.7,-0.11875,-0.125,-0.1,0.0,0.0000,0.5,0.0000,711,2.851870

In [6]:
data_columns = data.columns

In [2]:
#data_columns

In [45]:
#data[data['weekday_is_monday'] == 1.0 | data['weekday_is_tuesday']==1.0]

data['weekday_is_monday'] = data['weekday_is_monday'].astype(int)
data['weekday_is_tuesday'] = data['weekday_is_tuesday'].astype(int)
data['weekday_is_wednesday'] = data['weekday_is_wednesday'].astype(int)
data['weekday_is_thursday'] = data['weekday_is_thursday'].astype(int)
data['weekday_is_friday'] = data['weekday_is_friday'].astype(int)
data['weekday_is_saturday'] = data['weekday_is_saturday'].astype(int)
data['weekday_is_sunday'] = data['weekday_is_sunday'].astype(int)
data['is_weekend'] = data['is_weekend'].astype(int)
#data.dtypes

In [3]:
#data[(data['weekday_is_monday'] == 1) or (data['weekday_is_tuesday'] == 1)]
#data[data['weekday_is_monday'or 'weekday_is_tuesday' or 'weekday_is_wednesday' or 'weekday_is_thursday' or 'weekday_is_friday'] ==1].count()

data[data['is_weekend'] ==1].count()
data[data['is_weekend'] ==0].count()
data.head(2)

,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,...,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares,log_shares
0,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,0.0,...,0.7,-0.35000,-0.600,-0.2,0.5,-0.1875,0.0,0.1875,593,2.773055
1,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,0.0,...,0.7,-0.11875,-0.125,-0.1,0.0,0.0000,0.5,0.0000,711,2.851870

In [19]:
#data_pop = data.copy()
#data_pop[data_pop.columns[0:4]]

In [31]:
data_pop.head(2)

,num_imgs,num_videos,average_token_length,num_keywords,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech,data_channel_is_world,...,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares,log_shares
0,1.0,0.0,4.680365,5.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.7,-0.35000,-0.600,-0.2,0.5,-0.1875,0.0,0.1875,593,2.773055
1,1.0,0.0,4.913725,4.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.7,-0.11875,-0.125,-0.1,0.0,0.0000,0.5,0.0000,711,2.851870

In [36]:
data_pop.drop(data_pop.columns[[2,3]],axis=1,inplace = True)

In [43]:
data_pop.columns

Index(['num_imgs', 'num_videos', 'data_channel_is_lifestyle',
       'data_channel_is_entertainment', 'data_channel_is_bus',
       'data_channel_is_socmed', 'data_channel_is_tech',
       'data_channel_is_world', 'weekday_is_monday', 'weekday_is_tuesday',
       'weekday_is_wednesday', 'weekday_is_thursday', 'weekday_is_friday',
       'weekday_is_saturday', 'weekday_is_sunday', 'is_weekend', 'LDA_00',
       'LDA_01', 'LDA_02', 'LDA_03', 'LDA_04', 'global_subjectivity',
       'global_sentiment_polarity', 'global_rate_positive_words',
       'global_rate_negative_words', 'rate_positive_words',
       'rate_negative_words', 'avg_positive_polarity', 'min_positive_polarity',
       'max_positive_polarity', 'avg_negative_polarity',
       'min_negative_polarity', 'max_negative_polarity', 'title_subjectivity',
       'title_sentiment_polarity', 'abs_title_subjectivity',
       'abs_title_sentiment_polarity', 'shares', 'log_shares'],
      dtype='object')

In [42]:
data_pop.drop(data_pop.columns[[8,9,10,11,12,13,14,15,16,17]],axis=1,inplace = True)

In [47]:
data_pop.columns

Index(['num_imgs', 'num_videos', 'data_channel_is_lifestyle',
       'data_channel_is_entertainment', 'data_channel_is_bus',
       'data_channel_is_socmed', 'data_channel_is_tech',
       'data_channel_is_world', 'weekday_is_monday', 'weekday_is_tuesday',
       'weekday_is_wednesday', 'weekday_is_thursday', 'weekday_is_friday',
       'weekday_is_saturday', 'weekday_is_sunday', 'is_weekend', 'LDA_00',
       'LDA_01', 'LDA_02', 'LDA_03', 'LDA_04', 'global_subjectivity',
       'global_sentiment_polarity', 'global_rate_positive_words',
       'global_rate_negative_words', 'rate_positive_words',
       'rate_negative_words', 'avg_positive_polarity', 'min_positive_polarity',
       'max_positive_polarity', 'avg_negative_polarity',
       'min_negative_polarity', 'max_negative_polarity', 'title_subjectivity',
       'title_sentiment_polarity', 'abs_title_subjectivity',
       'abs_title_sentiment_polarity', 'shares', 'log_shares'],
      dtype='object')

In [48]:
data_pop.head(2)

,num_imgs,num_videos,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech,data_channel_is_world,weekday_is_monday,weekday_is_tuesday,...,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares,log_shares
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0,...,0.7,-0.35000,-0.600,-0.2,0.5,-0.1875,0.0,0.1875,593,2.773055
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0,...,0.7,-0.11875,-0.125,-0.1,0.0,0.0000,0.5,0.0000,711,2.851870

In [49]:
del data_pop['min_negative_polarity']
del data_pop['max_negative_polarity']
del data_pop['min_positive_polarity']
del data_pop['max_positive_polarity']
del data_pop['title_sentiment_polarity']
del data_pop['abs_title_subjectivity']
del data_pop['abs_title_sentiment_polarity']

In [51]:

del data_pop['rate_positive_words']
del data_pop['rate_negative_words']
del data_pop['global_sentiment_polarity']

In [54]:
del data_pop['LDA_00']
del data_pop['LDA_01']
del data_pop['LDA_02']
del data_pop['LDA_03']
del data_pop['LDA_04']

In [56]:

del data_pop['weekday_is_monday']
del data_pop['weekday_is_tuesday']
del data_pop['weekday_is_wednesday']
del data_pop['weekday_is_thursday']
del data_pop['weekday_is_friday']
del data_pop['weekday_is_saturday']
del data_pop['weekday_is_sunday']

In [62]:
data_pop['num_imgs'] = data['num_imgs'].astype(int)
data_pop['num_videos'] = data['num_videos'].astype(int)
data_pop['data_channel_is_lifestyle'] = data['data_channel_is_lifestyle'].astype(int)
data_pop['data_channel_is_entertainment'] = data['data_channel_is_entertainment'].astype(int)
data_pop['data_channel_is_bus'] = data['data_channel_is_bus'].astype(int)
data_pop['data_channel_is_socmed'] = data['data_channel_is_socmed'].astype(int)
data_pop['data_channel_is_tech'] = data['data_channel_is_tech'].astype(int)
data_pop['data_channel_is_world'] = data['data_channel_is_world'].astype(int)
data_pop['is_weekend'] = data['is_weekend'].astype(int)

In [64]:
data_pop.dtypes

num_imgs                           int32
num_videos                         int32
data_channel_is_lifestyle          int32
data_channel_is_entertainment      int32
data_channel_is_bus                int32
data_channel_is_socmed             int32
data_channel_is_tech               int32
data_channel_is_world              int32
is_weekend                         int32
global_subjectivity              float64
global_rate_positive_words       float64
global_rate_negative_words       float64
avg_positive_polarity            float64
avg_negative_polarity            float64
title_subjectivity               float64
shares                             int64
log_shares                       float64
dtype: object

In [69]:
 data_pop.head()

,num_imgs,num_videos,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech,data_channel_is_world,is_weekend,global_subjectivity,global_rate_positive_words,global_rate_negative_words,avg_positive_polarity,avg_negative_polarity,title_subjectivity,shares,log_shares
0,1,0,0,1,0,0,0,0,0,0.521617,0.045662,0.013699,0.378636,-0.350000,0.500000,593,2.773055
1,1,0,0,0,1,0,0,0,0,0.341246,0.043137,0.015686,0.286915,-0.118750,0.000000,711,2.851870
2,1,0,0,0,1,0,0,0,0,0.702222,0.056872,0.009479,0.495833,-0.466667,0.000000,1500,3.176091
3,1,0,0,1,0,0,0,0,0,0.429850,0.041431,0.020716,0.385965,-0.369697,0.000000,1200,3.079181
4,20,0,0,0,0,0,1,0,0,0.513502,0.074627,0.012127,0.411127,-0.220192,0.454545,505,2.703291

In [72]:
data_weekend = data_pop[data_pop['is_weekend']==1].copy()
data_weekday = data_pop[data_pop['is_weekend']==0].copy()

In [82]:
xx = data_weekday.sum(axis=0)
yy = data_weekend.sum(axis=0)
type(xx)
data_weekday.columns
department = ['num_imgs', 'num_videos', 'data_channel_is_lifestyle',
       'data_channel_is_entertainment', 'data_channel_is_bus',
       'data_channel_is_socmed', 'data_channel_is_tech',
       'data_channel_is_world', 'is_weekend', 'global_subjectivity',
       'global_rate_positive_words', 'global_rate_negative_words',
       'avg_positive_polarity', 'avg_negative_polarity', 'title_subjectivity',
       'shares', 'log_shares']

In [85]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

In [89]:
trace1 = go.Scatter(x=department, y=xx,
                    marker=dict(color='#0099ff'),
                    name='Goals For<br>Per Game',
                    xaxis='x2', yaxis='y2')
trace2 = go.Scatter(x=department, y=yy,
                    marker=dict(color='#404040'),
                    name='Goals Against<br>Per Game',
                    xaxis='x2', yaxis='y2')
figure = go.Data([trace1, trace2])
py.iplot(figure, filename='subplot_table')

Aw, snap! We don't have an account for ''. Want to try again? You can authenticate with your email address or username. Sign in is not case sensitive.

Don't have an account? plot.ly

Questions? support@plot.ly

PlotlyError: Because you didn't supply a 'file_id' in the call, we're assuming you're trying to snag a figure from a url. You supplied the url, '', we expected it to start with 'https://plot.ly'.
Run help on this function for more information.